* {
    font-family: Impact,'Arial Narrow Bold', sans-serif;
}

header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    padding: 0 16px 32px 16px;
    

}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}

li {
    list-style-type: none;
    padding: 16px;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;

}

.hero {
    display: flex;
    background-color: #1f2937;
    padding: 48px 16px;
    justify-content: center;
    color: #E5E7EB;
    font-size: 18px;
    gap: 32px;
}

.mainText {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.heroImage {
    height: 40%;
    width: 40%;
}

.imageLeft {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    width: 425px;
    gap: 16px;
}

button {
    display: flex;
    height: 30px;
    width: 90px;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
}

.infoHeader {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.contentOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

}